:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-dark-salmon: #FF8066;
    --color-theme-zone-art-hex-light-salmon: #FFF6E6;
    --color-theme-zone-art-hex-black: #3F464D;
    --color-theme-zone-art-hex-dark-blue: #2186C4;
    --color-theme-zone-art-hex-light-blue: #7ECEFC;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-light-salmon: rgba(255, 246, 229, 1);
    --color-theme-zone-art-rgb-dark-salmon: rgba(255, 127, 102, 1);
    --color-theme-zone-art-rgb-black: rgba(62, 69, 76, 1);
    --color-theme-zone-art-rgb-dark-blue: rgba(33, 133, 196, 1);
    --color-theme-zone-art-rgb-light-blue: rgba(126, 206, 252, 1);
}

.shadow {
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}


/* 
font-family: 'Poiret One', cursive;
*/

.section-clients {
    /*background-color: var(--color-theme-zone-art-hex-light-blue);*/
    height: auto;
    padding: 80px;
    width: 54%;
    margin: 120px auto;
}

.title-clients h2 {
    font-family: 'Poiret One', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: var(--color-theme-zone-art-hex-black);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 70px;
}

.dispo-clients {
    height: 110px;
}

.dispo-clients a {
    margin: 0px 60px;
}

.dispo-clients img {
    transition: all .5s;
}

.dispo-clients a:hover img {}

#oi,
#vivo,
#claro {
    width: 100px;
    height: 100px;
}

#tim {
    width: 200px;
    height: 69px;
}

a:hover img {
    transform: scale(1.1);
}