:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-dark-salmon: #FF8066;
    --color-theme-zone-art-hex-light-salmon: #FFF6E6;
    --color-theme-zone-art-hex-black: #3F464D;
    --color-theme-zone-art-hex-dark-blue: #2186C4;
    --color-theme-zone-art-hex-light-blue: #7ECEFC;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-light-salmon: rgba(255, 246, 229, 1);
    --color-theme-zone-art-rgb-dark-salmon: rgba(255, 127, 102, 1);
    --color-theme-zone-art-rgb-black: rgba(62, 69, 76, 1);
    --color-theme-zone-art-rgb-dark-blue: rgba(33, 133, 196, 1);
    --color-theme-zone-art-rgb-light-blue: rgba(126, 206, 252, 1);
}

.shadow {
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}

.footer {
    background-color: var(--color-theme-zone-art-hex-black);
    height: 440px;
}

.section-developer-data {
    /*background-color: rgba(255, 0, 0, 0.1);*/
    height: 250px;
    width: auto;
    float: right;
    padding-top: 120px;
    position: static;
}


/*------------------------------
|   Foto do desenvolvedor
|--------------------------------
|
*/

.developer-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    float: right;
    position: relative;
    top: -25px;
    right: 63px;
}


/*
|-------------------------------
*/


/*------------------------------
|   Dados do desenvolvedor
|--------------------------------
|
*/

.div-developer-data {
    width: 330px;
}

.div-developer-data p {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
}


/*
|-------------------------------
*/


/*------------------------------
|   Midias sociais do desenvolvedor
|--------------------------------
|
*/

.div-developer-media {
    margin-top: 20px;
}

.div-developer-media a:hover img {
    transform: scale(1.1);
}

.div-developer-media img {
    opacity: 0.6;
    width: 32px;
    height: 32px;
    margin-right: 30px;
    transition: all .3s;
}


/*---------------------------------*/

.footer h1 {
    line-height: 40px;
    color: rgba(255, 255, 255, 0.6);
    clear: right;
    text-align: center;
    font-weight: bold;
}