:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-dark-salmon: #FF8066;
    --color-theme-zone-art-hex-light-salmon: #FFF6E6;
    --color-theme-zone-art-hex-black: #3F464D;
    --color-theme-zone-art-hex-dark-blue: #2186C4;
    --color-theme-zone-art-hex-light-blue: #7ECEFC;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-light-salmon: rgba(255, 246, 229, 1);
    --color-theme-zone-art-rgb-dark-salmon: rgba(255, 127, 102, 1);
    --color-theme-zone-art-rgb-black: rgba(62, 69, 76, 1);
    --color-theme-zone-art-rgb-light-black: rgba(62, 69, 76, 0.9);
    --color-theme-zone-art-rgb-dark-blue: rgba(33, 133, 196, 1);
    --color-theme-zone-art-rgb-light-blue: rgba(126, 206, 252, 1);
}

.shadow {
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}


/* 
font-family: 'Poiret One', cursive;
*/

.section-form {
    height: auto;
    background-color: var(--color-theme-zone-art-rgb-light-black);
    font-family: 'Poiret One', cursive;
    padding: 80px 0px;
}

.div-form-contato {
    width: 54%;
    margin: auto;
}

.div-form-contato h2 {
    text-transform: capitalize;
    color: var(--color-theme-zone-art-hex-dark-salmon);
    padding: 28px 55px;
    font-weight: bold;
    font-size: xx-large;
}

.form-contato .fields label {
    display: block;
    color: white;
    font-size: 20px;
}

.form-contato .fields input {
    width: 300px;
    padding: 6px 8px;
    margin: 10px 0px;
    border-radius: 8px;
}

.form-contato .fields #mensagem {
    width: 250px;
    padding: 6px 8px;
    margin: 10px 0px;
    border-radius: 8px;
    height: 200px;
}

.form-contato .buttom input {
    width: 90px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: solid 0px gray;
    margin: 15px 5px;
}

.form-contato .buttom [type="reset"] {
    background-color: black;
}

.form-contato .buttom [type="submit"] {
    background-color: var(--color-theme-zone-art-hex-dark-blue);
}