:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-white-01: #D9D9D9;
    --color-theme-zone-art-hex-white-02: #E2E5E5;
    --color-theme-zone-art-hex-gray: #6A6F73;
    --color-theme-zone-art-hex-black: #0B1C26;
    --color-theme-zone-art-hex-blue: #729CA6;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-white-01: rgba(227, 227, 227, 1);
    --color-theme-zone-art-rgb-white-02: rgba(216, 219, 219, 1);
    --color-theme-zone-art-rgb-gray: rgba(106, 111, 115, 1);
    --color-theme-zone-art-rgb-black: rgba(11, 28, 38, 1);
    --color-theme-zone-art-rgb-blue: rgba(114, 156, 166, 1);
}

.header_index {
    background-color: var(--color-theme-zone-art-hex-black);
    padding: 50px;
    position: static;
}

.box_logo {
    width: auto;
    display: inline-block;
}

.logo_winter_net {
    width: 200px;
    height: 113px;
}

.nav_menu_header {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 150px;
}

.nav_menu_header ul li {
    display: inline-block;
    margin-left: 30px;
}

.nav_menu_header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-theme-zone-art-hex-white-02)
}