:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-dark-salmon: #FF8066;
    --color-theme-zone-art-hex-light-salmon: #FFF6E6;
    --color-theme-zone-art-hex-black: #3F464D;
    --color-theme-zone-art-hex-dark-blue: #2186C4;
    --color-theme-zone-art-hex-light-blue: #7ECEFC;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-light-salmon: rgba(255, 246, 229, 1);
    --color-theme-zone-art-rgb-dark-salmon: rgba(255, 127, 102, 1);
    --color-theme-zone-art-rgb-black: rgba(62, 69, 76, 1);
    --color-theme-zone-art-rgb-dark-blue: rgba(33, 133, 196, 1);
    --color-theme-zone-art-rgb-light-blue: rgba(126, 206, 252, 1);
}


/*--------------------------------
| Seção Main
----------------------------------
*/

.main-index {
    margin: 40px auto;
    padding: 40px 0px
}

.main-index .about-containner {
    width: 45%;
    height: auto;
    margin: auto;
}


/*
----------------------------------
*/


/*--------------------------------
| Caixas
----------------------------------
*/

.main-index .about-box {
    height: auto;
    width: 50%;
    display: block;
}

.left {
    /* Alinhar a esquerda */
    /*clear: right;
    float: left;*/
    margin: 20px 50% 20px 0px;
}

.right {
    /* Alinhar a direita */
    /*clear: left;
    float: right;*/
    margin: 20px 0px 20px 50%;
}


/*
----------------------------------
*/


/*--------------
|   Box Head
----------------
*/

.main-index .about-box .row-1 {
    margin: 15px 0px;
    height: auto;
    display: block;
}


/* Box Title */

.main-index .about-box .row-1 .col-1 {
    width: 40%;
    height: 61px;
    float: left;
    margin: 0px 0px 5px 0px;
    /*vertical-align: top;*/
}

.main-index .about-box .row-1 .col-1 h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.3em;
}

.main-text {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.3em;
    display: inline-block;
    width: 170px;
}


/* Box Title Imagem */


/*.main-index .about-box .row-1 .col-2 {
    width: 60%;
    height: 61px;
    float: right;
    margin: 0px 0px 5px 0px;
}*/


/*.main-index .about-box .row-1 .col-2 img {
    width: 60px;
    height: 60px;
}*/

.main-index .about-box .row-1 img {
    width: 60px;
    height: 60px;
    padding: 3px 3px 0px 5px;
}


/*
|--------------
*/


/*--------------
|   Text
----------------
*/

.about-box .row-2-col-1 {
    clear: left;
    clear: none;
    height: auto;
    padding: 5px 0px 5px 10px
}

.about-box .row-2-col-1 p {
    font-family: 'Nunito', sans-serif;
    width: 80%;
    vertical-align: top;
    letter-spacing: .1em;
    font-weight: lighter;
    font-size: large;
}


/*
|--------------
*/