:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-dark-salmon: #FF8066;
    --color-theme-zone-art-hex-light-salmon: #FFF6E6;
    --color-theme-zone-art-hex-black: #;
    --color-theme-zone-art-hex-dark-blue: #2186C4;
    --color-theme-zone-art-hex-light-blue: #7ECEFC;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-light-salmon: rgba(255, 246, 229, 1);
    --color-theme-zone-art-rgb-dark-salmon: rgba(255, 127, 102, 1);
    --color-theme-zone-art-rgb-black: rgba(62, 69, 76, 1);
    --color-theme-zone-art-rgb-dark-blue: rgba(33, 133, 196, 1);
    --color-theme-zone-art-rgb-light-blue: rgba(126, 206, 252, 1);
}

.main_index {
    width: 60%;
    margin: 100px auto 30px;
}

.box_sobre {
    font-family: 'Poiret One', cursive;
    width: 80%;
    margin: auto;
}

.div_main_conteudo {
    /*position: static;*/
    height: 140px;
    /*padding-top: 22px;*/
}

.text_long {
    position: static;
}

.main_index .box_sobre .div_main_conteudo h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0px;
    position: relative;
    vertical-align: top;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    /*Declaração de bordar em apenas uma linha*/
}

.main_index .box_sobre .div_main_conteudo p {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.text_long {
    letter-spacing: 2px;
}

.shadow {
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}