:root {
    /* Color Theme */
    /* use -> var(--color-theme-zone-art-hex-blue:)*/
    --color-theme-zone-art-hex-dark-salmon: #FF8066;
    --color-theme-zone-art-hex-light-salmon: #FFF6E6;
    --color-theme-zone-art-hex-black: #3F464D;
    --color-theme-zone-art-hex-dark-blue: #2186C4;
    --color-theme-zone-art-hex-light-blue: #7ECEFC;
    /* Color Theme hex*/
    /* use -> var(--color-theme-zone-art-rgb-blue:)*/
    --color-theme-zone-art-rgb-light-salmon: rgba(255, 246, 229, 1);
    --color-theme-zone-art-rgb-dark-salmon: rgba(255, 127, 102, 1);
    --color-theme-zone-art-rgb-black: rgba(62, 69, 76, 1);
    --color-theme-zone-art-rgb-dark-blue: rgba(33, 133, 196, 1);
    --color-theme-zone-art-rgb-light-blue: rgba(126, 206, 252, 1);
}


/*--------------------------------
| Seção Main
----------------------------------
*/

.main-index {
    margin: 40px auto;
    padding: 40px 0px
}

.main-index .about-containner {
    width: 45%;
    height: 690px;
    margin: auto;
}


/*
----------------------------------
*/


/*--------------------------------
| Caixas
----------------------------------
*/

.main-index .about-box {
    height: auto;
    width: 50%;
    margin: 20px 0px;
}

.left {
    /* Alinhar a esquerda */
    clear: right;
    float: left;
}

.right {
    /* Alinhar a direita */
    clear: left;
    float: right;
}


/*
----------------------------------
*/


/*--------------
|   Box Head
----------------
*/

.main-index .about-box .row-1 {
    margin: 15px 0px;
}


/* Box Title */

.main-index .about-box .row-1 .col-1 {
    display: inline-block;
    width: 50%;
    /*vertical-align: top;*/
    background-color: aquamarine;
}

.main-index .about-box .row-1 .col-1 h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    /*line-height: 40px;*/
}


/* Box Title Imagem */

.main-index .about-box .row-1 .col-2 {
    width: 61px;
    height: 61px;
    background-color: coral;
}

.main-index .about-box .row-1 .col-2 img {
    width: 60px;
    height: 60px;
    margin: auto;
}


/*
.main-sobre-title {
    height: 100px;
}

.main-sobre-title h1 {
    display: inline-block;
    line-height: 40px;
    width: 50%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0px;
    vertical-align: top;
    padding-bottom: 2px;
}


/*
|--------------
*/


/*--------------
|   Text
----------------
*/

.main_index .about-box .row-2-col-1 {
    height: auto;
    padding: 5px 0px 5px 5px;
}

.main_index .about-box .row-2-col-1 p {
    width: 80%;
    vertical-align: top;
    letter-spacing: 20px;
}


/*
|--------------
*/